/* CSS RESET
*/
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

/*
FONTS
*/

/* @font-face {
    font-family: josefin;
    src: url(/fonts/Josefin/static/JosefinSlab-Regular.ttf);
} */

/* HEADER STYLING
*/

/* HEADER BLOCK */

header {
    display: flex;
    justify-content: space-between;
    border: 3px solid #49b49a;
    margin-bottom: 2%;
    padding: 1%;
}

/* LOGO */

/* TITLE */

h1 {
    /* font-family: Quick */
}

.first_e {
    color:#49b49a;
    display: inline-block;
    
    -moz-transform: scale(-1, 1) rotate(-15deg);
    -webkit-transform: scale(-1, 1) rotate(-15deg);
    -o-transform: scale(-1, 1) rotate(-15deg);
    -ms-transform: scale(-1, 1) rotate(-15deg);
    transform: scale(-1, 1) rotate(-15deg);
    margin: 0px;
    
   
}   

.second_e {
    color: #e78860;
    display: inline-block;
    -webkit-transform : rotate(-15deg); 
    -moz-transform : rotate(-15deg); 
    -ms-transform : rotate(-15deg); 
    -o-transform : rotate(-15deg); 
    transform : rotate(-15deg);
    margin: 0px;
    
}

/* HEADER FORM */

.form_hdr {
    display: flex;
    flex-direction: column;
}

.login_hdr {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.password_hdr {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 3%;
}

.form_hdr a {
    align-self: center;
}

.submit_hdr input[type="submit"] {
    border: 2px solid #e78860;
    background-color: #FFFF;
    width: 120px;
    height: 25px;
    margin-top: 3%;
    margin-bottom: 3%;
}

/* NAVBAR STYLING
*/

.navbar {
    display: flex;
    justify-content:space-evenly;
}

.navbar li {
    margin: 16px;
}



/*
MAIN
STYLING
*/

main {
    border: 3px solid #e78860;
}

/* .navbar li a:inactive {
    color: #49b49a
} */

/* SEPARATORS
*/

hr.separator_1 {
    width: 80%;
    border-top: 3px solid #49b49a;
    margin: 2% 1% 2% 19%;

}

hr.separator_2 {
    width: 80%;
    border-top: 3px solid #e78860;
    margin: 2% 19% 2% 1%;

}

hr.separator_3 {
    width: 80%;
    border-top: 3px solid #e78860;
    margin: 2% 1% 2% 19%;

}

hr.separator_4 {
    width: 80%;
    border-top: 3px solid #49b49a;
    margin: 2% 19% 2% 1%;

}


/*
 EVENT
 CREATION
 FORM
 */

 .event_creation_form form {
    display: flex;
    flex-direction: column;
    border: 2px solid #49b49a;
    margin: 2% 25% 2% 25%;
    padding: 2% 0% 2% 0%;
    
    
 }

 .event_creation_form form input {
    border: 2px solid #e78860;
    border-radius: 5px;
    width: 50%;
    align-self: center;
    margin-top: 1%; 
    
 }

 .event_creation_form input[type="submit"] {
    align-self: flex-end;
    border-radius: 15px 0px 15px 0px;
    height: 40px;
    width: 120px;
    margin-right: 5%;
    margin-top: 3%;
 }



.form_page {
    padding: 10px;
    background-color: #FFFF;
    width: 400px;
    height: 200px;
    border: black double 10px;
    margin: 0 auto;
    margin-top: 10%;
}
legend {
    text-align: center;
}
.login_form {
    
}

.user {
    display: inline-block;
}

.password {
    display: inline-block;
}

.submit {
    display: inline-block;
}