/* CSS RESET
*/
* {
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    text-decoration: none;
}

/*
FONTS
*/

@font-face {
    font-family: josefin;
    src: url(/fonts/Josefin/static/JosefinSlab-Regular.ttf);
}

/* HEADER STYLING
*/

/* HEADER BLOCK */

header {
    display: flex;
    justify-content: space-between;
    border: 3px solid #49b49a;
    margin-bottom: 2%;
    padding: 1%;
}

/* LOGO */

#logo {
    font-family: josefin;
    font-size: 10vh;
    padding-top: 15px;
    font-weight: bold;
 }

/* TITLE */

h1 {
     font-family: josefin;
     font-size: 8vh;
     padding-top: 20px;
     padding-bottom: 20px;
 }


.first_e {
    color:#49b49a;
    display: inline-block;
    transform: scale(-1,1);
    /* -moz-transform: scale(-1, 1) rotate(-15deg);
    -webkit-transform: scale(-1, 1) rotate(-15deg);
    -o-transform: scale(-1, 1) rotate(-15deg);
    -ms-transform: scale(-1, 1) rotate(-15deg);
    transform: scale(-1, 1) rotate(-15deg); */
    margin: 0px;
}   

.second_e {
    color: #e78860;
    display: inline-block;
    /* -webkit-transform : rotate(-15deg); 
    -moz-transform : rotate(-15deg); 
    -ms-transform : rotate(-15deg); 
    -o-transform : rotate(-15deg); 
    transform : rotate(-15deg); */
    margin: 0px;
    
}

/* HEADER FORM */

.form_hdr {
    display: flex;
    flex-direction: column;
}

.login_hdr {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.password_hdr {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 3%;
}

.form_hdr a {
    align-self: center;
}

.submit_hdr input[type="submit"] {
    border: 2px solid #e78860;
    background-color: #FFFF;
    width: 120px;
    height: 25px;
    margin-top: 3%;
    margin-bottom: 3%;
}

/* NAVBAR STYLING
*/

.navbar {
    display: flex;
    justify-content:space-around;
}

.navbar li {
    margin: 16px;
}

.navbar li:visited {
    color: black;
}

.navbar li:hover {
    color: #49b49a;
    border-bottom: double 2px #e78860;
}



/*
MAIN
STYLING
*/

main {
    border: 3px solid #e78860;
}

/* .navbar li a:inactive {
    color: #49b49a
} */

/* SEPARATORS
*/

hr.separator_1 {
    width: 80%;
    border-top: 3px solid #49b49a;
    margin: 2% 1% 2% 19%;

}

hr.separator_2 {
    width: 80%;
    border-top: 3px solid #e78860;
    margin: 2% 19% 2% 1%;

}

hr.separator_3 {
    width: 80%;
    border-top: 3px solid #e78860;
    margin: 2% 1% 2% 19%;

}

hr.separator_4 {
    width: 80%;
    border-top: 3px solid #49b49a;
    margin: 2% 19% 2% 1%;

}


/*
 EVENT
 CREATION
 FORM
 */

 .event_creation_form form {
    display: flex;
    flex-direction: column;
    border: 2px solid #49b49a;
    border-radius: 0px 15px 0px 15px;
    margin: 2% 25% 2% 25%;
    padding: 2% 0% 2% 0%;
    
    
 }

 .event_creation_form form input {
    border: 2px solid #e78860;
    border-radius: 10px;
    width: 50%;
    align-self: center;
    margin-top: 1%; 
    
 }

 .event_creation_form input[type="submit"] {
    align-self: flex-end;
    background-color: #FFFF;
    border-radius: 15px 0px 15px 0px;
    height: 40px;
    width: 120px;
    margin-right: 5%;
    margin-top: 3%;
 }



.form_page {
    padding: 10px;
    background-color: #FFFF;
    width: 400px;
    height: 200px;
    border: black double 10px;
    margin: 0 auto;
    margin-top: 10%;
}
legend {
    text-align: center;
}
/* .login_form {
    
} */

.user {
    display: inline-block;
}

.password {
    display: inline-block;
}

.submit {
    display: inline-block;
}

/*
FOOTER
STYLING
*/

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid 3px #49b49a;
    height: 15vh;
    margin-top: 2%;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer ul li {
    margin-right: 4%;
    margin-left: 4%;
    padding-right: 2%;
}
footer ul:nth-of-type(2) li {
    border-right: solid 3px #e78860;  

}

.nobr {
    white-space: nowrap;
}
